:root {
  --fon-gr:#AFB1B8;
  --primary-text-color:#757575;
  --accent-color:#2196F3;
  --secondary-text-color:#212121;
  --black-color-text:#000000;
  --white: #FFFFFF;
  --white-secondary: rgba(255, 255, 255, 0.6);
  --secodary-accent: #188CE8;
  --dark-background-color:#2F303A;
  --secondary-background: #F5F4FA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.text {
  text-decoration: none;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  color: var(--white);
  background-color: var(--secodary-accent);
}

.footer-submit {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover, .footer-submit:focus {
  color: var(--white);
  background-color: var(--secodary-accent);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;
  align-self: center;
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--secodary-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  display: inline-block;
  margin-right: 93px;
  color: var(--black-color-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
}

.span-logo {
  color: var(--accent-color);
}

.feature__suptitle {
  margin-bottom: 10px;
  text-align: start;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-mail-head {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  margin-bottom: 30px;
}

.title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.members-name p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.card-description p {
  color: var(--primary-text-color);
}

.portfolio p {
  font-size: 16px;
  line-height: 1.8;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--fon-gr);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white);
}

.footer-list-link:hover .social-list-link:hover .social-list-icon,
.footer-list-link:focus .social-list-link:hover .social-list-icon, .footer-list-link:hover
.social-list-link:focus .social-list-icon,
.footer-list-link:focus
.social-list-link:focus .social-list-icon {
  fill: var(--white);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social {
  display: block;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover, .footer-list-link:focus {
  background-color: var(--accent-color);
}

.send-icon {
  fill: currentColor;
  margin-left: 10px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--fon-gr);
  border: 1px solid var(--fon-gr);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-button {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.form__label {
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__input:focus:required:focus:valid {
  border-color: var(--accent-color);
}

.form__wrapper {
  display: block;
  position: relative;
}

.form__svg {
  display: block;
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__input:focus + .form__svg {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: inherit;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:focus {
  color: var(--accent-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form__head {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form__comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.check {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check__input {
  position: absolute;
  width: 16px;
  height: 15px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 7px;
}

.check__input:checked + .check__box {
  background-image: url(../image/Vector.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: var(--accent-color);
  border-radius: 2px;
}

.check__input:focus + .check__input:checked + .check__box {
  border-color: var(--accent-color);
}

.check__input:checked:focus + .check__input:focus + .check__input:checked + .check__box {
  border-color: var(--accent-color);
}

.checkbox-link {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #EEEEEE;
  border-top: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item a:hover, .navigation__item a:focus {
  color: var(--accent-color);
}

.navigation__item .active {
  color: var(--accent-color);
}

.contacts__list {
  display: flex;
  margin-left: auto;
}

.contacts__list .contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list :focus, .contacts__list .contacts__link:hover {
  color: var(--accent-color);
}

.navigation__item .navigation__link {
  position: relative;
}

.navigation__item .navigation__link:hover::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: var(--accent-color);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.phone__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img.head.jpg);
  background-size: cover;
  color: var(--white);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.feature {
  padding-top: 94px;
}

.feature__list {
  display: flex;
  justify-content: space-between;
}

.feature__list .feature__items {
  flex-basis: calc((100% - 90px) / 4);
}

.feature__list .feature__items .feature__items:not(:last-child) {
  margin-right: 30px;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  justify-content: center;
}

.services__list .services__item:not(:last-child) {
  margin-right: 30px;
}

.services__overlay {
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03cm;
  text-transform: uppercase;
}

.overlay-section-work {
  position: relative;
  display: flex;
  align-items: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background);
}

.team__list {
  display: flex;
  justify-content: center;
}

.team__list .team__item:not(:last-child) {
  margin-right: 30px;
}

.member-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.team__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.employee {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
  color: var(--white);
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer .container {
  display: flex;
  align-items: baseline;
}

.address {
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.address:not(:last-child) {
  margin-bottom: 9px;
}

.address:not(:last-child):hover, .address:not(:last-child):focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

.footer-mail {
  margin-left: 93px;
  /* position: relative; */
}

.mail-label {
  display: flex;
  justify-content: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background-color);
  margin-right: 12px;
  padding: 15px;
  color: var(--white);
}

.footer-input::placeholder {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio .section-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio__link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */