.feature {
    padding-top: 60px;
    
}

@media screen and (min-width: 280px){
    .feature {
        padding-bottom: 60px;
    }
    .feature__items:not(:last-child) {
        margin-bottom: 30px;
         }
}

@media screen and (min-width: 768px) {
    .feature__list {
    
        display: flex;
     justify-content: space-between; 
       flex-wrap: wrap;
       
    
        .feature__items {
   
         flex-basis: calc((100% - 30px) / 2);
         
    &:nth-child(-n +2) {
         margin-bottom: 30px;
          }
      }
}


@media screen and (min-width: 1200px) {
    .feature {
        padding-top: 94px;
     
    }
    .feature__list {
    
     display: flex;
     justify-content: space-between; 
         & .feature__items {
             flex-basis: calc((100% - 90px) / 4);
         }
          & .feature__items:not(:last-child) {
         margin-right: 30px;
         }
      }
     }
                    



// @media screen and (min-width: 1200px) {
    
// .feature__list {
    
//           display: flex;
//          justify-content: space-between; 
//          & .feature__items {
   
   
//                     flex-basis: calc((100% - 90px) / 4);
//          }
//                 & .feature__items:not(:last-child) {
//                     margin-right: 30px;
//                      }
//                     }
//                 }
            
}             