footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
    color: var(--white);
    list-style: none;
    text-decoration: none;

 font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
& .container {
    
    align-items: baseline;
}
}

.address { 
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    &:not(:last-child) {
         margin-bottom: 9px;
        &:hover, &:focus {
            color: var(--accent-color);
        }
        }
}


    
   
address {font-style: normal;
}


    .mail-label{
        display: flex;
        justify-content: center;
        }
        .footer-input {
            
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--dark-background-color);
        
        padding: 15px;
        color: var(--white);
        &::placeholder {
            display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
        }
        }
    

    @media screen and (max-width: 767px) {
.footer-address {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-social {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mail-label {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.footer-mail-form {
    width: 100%;
}
.footer-input {
    width: 100%;
    margin-bottom: 20px;
}

}



@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-address {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-mail {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        // margin-top: 60px;
        
    }
    .mail-label {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .footer-mail-form {
        width: 450px;
    }
    .footer-input {
        width: 100%;
        margin-bottom: 20px;
    }
    
}


@media screen and (min-width: 1200px) {
.footer .container {
 display: flex;
}
 .footer-mail {
     margin-left: 93px;
     
     /* position: relative; */
 }
 .footer-input {
    width: 358px;
     margin-right: 12px;
 }
}
